@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #70dafa;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  height: 410px;
  width: 250px;
  background-color: #cccccc;
  box-shadow: 40px 16px #33a6b5;
  border: solid 5px #6e6e6e;
  border-radius: 5px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "display display display display"
                       "clear clear divide multiply"
                       "one two three add"
                       "four five six subtract"
                       "seven eight nine equals"
                        "zero zero decimal equals";
  
  }

.display {
  grid-area: display;
  background-color: #37fab6;
  width: 100%;
  text-align: right;
  padding: 13px;
  font-size: 60px;
  font-family: digital;
  
 }

button {
  border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 5px;
    margin-top: 8px;
    font-size: 30px;
    cursor: pointer;
  }
button:hover {
  opacity: 0.95;
}
button:active {
  transform: scale(0.94)
}
button:focus {
  outline: none
}
button.orange{
  background-color: #f08b3e;
  color: white;
}
#divide {
  grid-area: divide;
}

#clear {
  grid-area: clear;
  background-color: #f04a3e;
  color: white;
  width: 110px;
  }
#equals {
  grid-area: equals;
  height: 110px;
  background-color: #e8db46;
  color: white;
}
#zero {
  grid-area: zero;
  width: 110px;
}